*{
    margin: 5px;
    padding: 0;
    text-align: center;
}
body{
    border: 2px solid #000000;
    height: 800px;
}

nav{
    border: 2px solid #06b1fa;
    overflow: hidden;
}

.logo{
    border: 2px solid red;
    float: left;
    font-size: 1.4rem;
}

.nav-links{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    float: right;
}

 .nav-links li{
    display: inline-block;
    padding: 1rem;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
    transition: color .3s;
    border: 2px solid green;
}

li:hover{
    background: #bfbfb7;
}

.intro {
    border: 2px solid #06b1fa;
}

h1 ,h2, h3 ,p{
    border: 1px solid red;
}

.about{
    border:2px solid #06b1fa;
}

.about-des{
    border: 1px solid #df9d0e;
}

.about-skills{
    border: 1px solid #df9d0e;
}

.skills{
    border: 1px solid red;
}

.skill{
    border: 1px solid green;
}