*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html{
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

body{
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Poppins", sans-serif;
}

section h2{
    margin: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 1.3rem;
    top: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    z-index: 200;
    backdrop-filter: blur(10px);
    background: #1718181a;
}

.nav-links{
    display: flex;
    align-items: center;
}

 .nav-links li{
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 1rem;
    color: #000000;
    transition: .3s;
    height: 100%;
}

.nav-links a{
    color: #ff000000;
    text-decoration: none;
    height: 100%;
}

.nav-links li:hover{
    color: #CA2C92;
    background: #d6d4d894;
}

.nav-links li:active{
    color: #8b1c65;
    background: #b2b0b494; 
}

.mb-nav{
    display: none;
}

@media only screen and (max-width: 44rem){

    .nav-links{
        display: none;
    }

    .mb-nav{
        display: inline;
    }

    .mb-nav-links{
        position: fixed;
        display: flex;
        flex-direction: column;
        right: -100%;
        top: 4rem;
        width: 12rem;
        height: 100vh;
        z-index: 200;
        backdrop-filter: blur(10px);
        background: #1718181a;
        transition: .3s;
    }

    #check{
        display: none;
    }

    .check-label {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 10px 20px;
        right: 0;
        width: 40px;
        height: 40px;
        gap: 10px;
        transition-duration: .3s;
        z-index: 250;
      }
      
      .bar {
        width: 100%;
        height: 4px;
        background-color: #000000;
        border-radius: 5px;
        transition-duration: .3s;
      }

      #check:checked ~ .mb-nav-links{
          right: 0;
      } 

      #check:checked + .check-label .bar{
        margin-left: 12px;
      }

    #check:checked + .check-label #bar2 {
        transform: rotate(135deg);
        margin-left: 0;
        transform-origin: center;
        transition-duration: .3s;
      }
      
      #check:checked + .check-label #bar1 {
        transform: rotate(45deg);
        transition-duration: .3s;
        transform-origin: left center;
      }
      
      #check:checked + .check-label #bar3 {
        transform: rotate(-45deg);
        transition-duration: .3s;
        transform-origin: left center;
      } 

    .mb-nav-links li{
        display: flex;
        align-items: center;
        list-style: none;
        font-weight: bolder;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 1rem;
        color: #000000;
        transition: .3s;
    }

    .mb-nav-links a{
        color: #ff000000;
        text-decoration: none;
    }
    
    .mb-nav-links li:hover{
        color: #CA2C92;
        background: #d6d4d894;
    }
    
    .mb-nav-links li:active{
        color: #8b1c65;
        background: #b2b0b494;   
    }
    
}


.header-logo{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.logo-img{
    width: 3.3rem;
    display: block;
    border-radius: 50%;
}

.logo-sub{    
    font-weight: bolder;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

.social-icons{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    position: fixed;
    top: 25%;
    right: 3px;
    padding: 5px;
    gap: 8px;
    z-index: 100;
    backdrop-filter: blur(4px);
    border-radius: 12px;
    background: #a8a8a82f;
}

.social-icon-img{
    overflow: visible;
    display: block;
    width: 2.6rem;
    border-radius: 7px;
    padding: 7px;
    transition: background .3s;
}

.one:hover{
    fill:#1D9BF0;
    background: white; 
}

.two:hover{
    background: #2876dd;
    fill: white;
}

.two:active{
    background: #104993;
    fill: rgb(223, 223, 223);
}

.one:active{   
    background: #b1b1b1;
}

.three:hover{
    fill: white;
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
 }

 .three:active{
    background: linear-gradient(45deg, #b19750, #974e15, #7a1844, #962fbf, #363e8f); }

.four:hover{
    fill: white;
    background: #0077B5;
}

.four:active{
    background: #083e58;
}

@media only screen and (max-width: 44rem){
    .social-icons{
        display: none;
    }
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center; 
	height: 100vh;
}

.intro-name{
    line-height: 1;
    font-size: 2.8rem;
    font-weight: bolder;
}

.hi{
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 1.9s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(24.0deg) }
   20% { transform: rotate(-14.0deg) }
   30% { transform: rotate(24.0deg) }
   40% { transform: rotate(-8.0deg) }
   50% { transform: rotate(8.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

.intro-name h1{
    font-size: 9rem;
    font-family: sans-serif;
    font-weight: bolder;
}

@media only screen and (max-width: 64rem){
    .intro-name{
        font-size: 2rem;
    }
    
    .intro-name h1{
        font-size: 7rem;
    }
}

@media only screen and (max-width: 44rem){
    .intro-name{
        font-size: 1.6rem;
    }
    
    .intro-name h1{
        font-size: 4.5rem;
    }    
}

@media only screen and (max-width: 27rem){
    .intro-name h1{
        font-size: 4rem;
    }    
}

form .btn{
    margin: 0;
}

.btn{
    font-weight: bold;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    margin-top: 40px;
    border-radius: 10px;
    transition: .3s;
    background: #f3f1f1;
    box-shadow: 2px 2px #202020;
}

.btn:hover{
    position:relative;
    right: 2px;
    bottom: 2px;
    box-shadow: 5px 5px #202020;
    cursor: pointer;
}

.btn:active{
    background: #cfcdcd;
}

.about{
}

.about-container{
    width: 92%;
    margin: auto;
}

.about-me{
    display: grid;
    grid-template: 1fr/ 2.5fr 1fr;
    grid-gap: 2rem;
}

@media only screen and (max-width: 64rem){
    .about-me{
        grid-template: 2.2fr 1.3fr / 1fr;
    }
}

.about-me h3{
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1.3rem;
    border: 2px solid #000000;
}

.about-des {
    margin: 5px;
}

.about-des p{
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

.about-skills{
    margin: 5px;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.skill{
    font-weight: bolder;
    flex-grow: 1;
    flex-basis: content;
    padding: .7rem 1rem;
    border-radius: 5px;
    max-width: 17rem;
    min-width: 5rem; 
    color: #222121;  
    background: #e9e8e8a2;
}

.projects *{
}

.project-container{
    width: 92%;
    margin: auto;
}

.my-projects{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
}

.project{
    justify-self: center;
    height: 350px;
    width: 100%;
    border-radius: 5px;
    max-width: 46rem;
    box-shadow: 2px 2px 10px #0f0f0f8a;
}

@media only screen and (max-width: 37rem) {
    .project{
        height: 250px;
    }
}

.pro-one{
    background-image: url('assets/transparency.png');
    background-repeat: no-repeat;
    background-position:top;   
    background-size: cover;
}

.pro-two{
    background-image: url('assets/portfolio.png');
    background-repeat: no-repeat;
    background-position:top;   
    background-size: cover;
}

.project div{    
  background: linear-gradient(0deg,#00000088 30%, #ffffff44 100%);
}

.contact{
}

.contact-container{
    width: 92%;
    margin: auto;
}

.main-form{
    width: 95%;
    margin: auto;
    margin-bottom: 40px;
}

form{
    padding: 2rem;
    margin: auto;
    max-width: 50rem;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background: #1718181a;
    box-shadow: 2px 2px 10px #0f0f0f8a;
}

.form-input{
    text-align: left;
    margin-bottom: 1rem;
}

.input{
    width: 100%;
    border-radius: 15px;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    background: #fafafa;
    outline: none;
}

.input-label{
    margin-left: 7px;
}

.status-message {
    margin: 15px;
    font-size: 14px;
    color: #28a745;
  }

@media only screen and (max-width: 37rem){
    form{
        padding: 1.2rem;
    }

    .input{
        border-radius: 12px;
    }
}

textarea{
    resize: none;
}

footer{
    background: #0a0a0a;
    color: #fafafa;
    padding: 10px;
}

footer h2{
    text-align: left;
    padding: 0 10px;
    font-size: 1.4rem;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding-bottom: 20px;
}

.footer-icons{
    display: flex;
    padding: 5px;
    gap: 8px;
}

.footer-icon-img{
    overflow: visible;
    display: block;
    width: 2.1rem;
    border-radius: 9px;
    padding: 7px;
    fill: #fafafa;
    transition: background .3s;
}

.footer-icon-img:hover{
    background: #2c2c2c;
}

.footer-icon-img:active{
    background: #3f3f3f;
    fill: #cacaca;
}

.footer-des{
    width: 60%;
    max-width: 500px;
}

.footer-para {
    font-size: 14px;
    padding: 10px;
    text-align: justify;
}

@media only screen and (max-width: 37rem){
    
footer h2{
    font-size: 1rem;
}
    
.footer-container{
    flex-direction: column;
    padding-bottom: 0;
}

.footer-icon-img{
    width: 1.9rem;
}

.footer-des{
    width: 80%;
}

.footer-para {
    font-size: .7rem;
    padding-top: 0;
}

}

@media only screen and (max-width: 27rem){

    .footer-container{
        margin: 5px;
    }

    .footer-des{
        width: 100%;
    }
}

.footer-lower {
    padding: 1rem 0;
    color: #eee;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid #444;
}

.footer-lower a {
    text-decoration: underline;
    font-weight: bold;
    color: white;
    margin-left: 2px;

}
