*{
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
    background: #1718181a;
}

.nav-links{
    display: flex;
    flex-direction: row;
    margin: 0;
}

 .nav-links li{
    list-style: none;
    padding: 11px;
    border-radius: 5px;
    color: #333;
}

.nav-links li a{
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    transition: color .3s;
    text-decoration: none;
}

.nav-links li a:hover{
    color: #7146b6;
}

.nav-links li:hover{
    background: rgb(221, 216, 216);
}

.logo{
    position: relative;
}

.logo label{    
    font-weight: bolder;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 0;
}

.social-icons{
    position: fixed;
    top: 35%;
    margin: 0;
    right: 0;
    padding: 5px;
    z-index: 100;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    background: #1718181a;
}

.social-icon{
    border-radius: 5px;
    padding: 12px;
    transition: background .3s;
}
.social-icon:hover{
    background: #ccc1c193;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro-name{
    font-size: 2rem;
    width: 92%;
    max-width: 90rem;
}

.intro-btn{
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: .3s;
}

.intro-btn:hover{
    position:relative;
    right: 2px;
    bottom: 2px;
    box-shadow: 5px 5px #333;
    cursor: pointer;
}

.about{
    padding-top: 80px;
}

.about-me{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
}

.about-des p{
    font-size: 1rem;
}

.about-des p{
    text-align: justify;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid black;
}

.about-skills{
}

.skills{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.skill{
    flex-grow: 1;
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

.projects{
    padding-top: 80px;
}

.my-projects{
    display: grid;
    grid-template: repeat(2,1fr)/repeat(2,1fr);
}

.project{
    height: 200px;
    border-radius: 10px;
    border: 2px solid black;
    margin: 5px;
}

.contact{
    padding-top: 80px;
}

.main-form{
}

form{
    display: relative;
    margin: 10px;
    width: ;
    padding: 2rem;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    background: #1718181a;
}

.form-input{
    text-align: left;
    margin-bottom: 1rem;
}

.input{
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
}

footer{
    width: 100%;
    height: 120px;
    margin: 0;
    background: black;
    color: white;
}